.git
.gitignore

__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ruff_cache
.mypy_cache
*.egg-info
.venv
venv
.ipynb_checkpoints

.idea
.vscode
*.swp
data/raw/*.json
data/raw/*.csv
data/processed/*.parquet

models/*.joblib

logs/*.log

.env